.material-icons{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: 1tr;

}
body{
    font-family: sans-serif;
}
.title{
    display: flex;
    justify-content: center;
    margin-top: 50px;

}
.search-bar{
    width: 800px;
    border: solid 1px #ccc;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;
    margin: 150px auto;
    margin-top: 10px;
}
.search-bar input{
    border: none;
    outline: none;
    pad: 10px;
    font-size: 18px;
    flex: auto;
}
.search-bar:focus-within{
    border: solid 1px #aaa;
    box-shadow: 0px 2px 5px rgba(35, 35, 38, 0.2);

}
.search-bar .actions{
    display: flex;
    gap: 5px;
}

.search-bar .actions button{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color:#999;

}
.search-bar .actions button:hover{
    color: #2979e2;
}